<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include masthead.html %}
<section class="main">

    <h2>{{ page.title }}</h2>
    <div class="article-layout">
        {% if page.tldr %}
            <div class="article-layout-tldr">
                <h4>tl;dr</h4>
                <p><a class="article-layout-tldr-link" href="#tldr">(Too long didn't read) - press here to get the tl;dr</a></p>
            </div>
        {% endif %}

        <div class="article-layout-content">
            {{ content }}
        </div>

        {% if page.tldr %}
        <div id="tldr" class="article-layout-tldr-bottom-padding"></div>
        <div class="article-layout-tldr">
            <h4>tl;dr</h4>
            {{ page.tldr | markdownify }}
        </div>
        {% endif %}
    </div>

</section>
</body>
</html>